@{ ViewData["Title"] = "Forgot password confirmation"; }

<div class="container margin-top-80">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title text-center mb-5 fw-light fs-5">@ViewData["Title"]</h5>


                    <div class="form-flating">
                        <p>
                            Please check your email to reset your password.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
