@{

    ViewData["Title"] = "Home Page";
}
<!-- ======= hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

            <ol id="hero-carousel-indicators" class="carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active" style="background-image: url(../../assets/images/wireImages/mainbanner1.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">Welcome to SRiNi LiNK</h2>
                            <p class="animate__animated animate__fadeInUp ">
                                A Warm welcome from SRiNi LiNK team.
                            </p>
                            @*<a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>*@
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url(../../assets/images/wireImages/2.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">Welcome to SRiNi LiNK</h2>
                            <p class="animate__animated animate__fadeInUp">
                                SRiNi LiNK produces one of the best cables & wires since 02/04/1997 for its existing customers & market, by meeting their standards or customized requirement with a various product range.
                            </p>
                            @*<a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>*@
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url(../../assets/images/wireImages/3.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">Welcome to SRiNi LiNK</h2>
                            <p class="animate__animated animate__fadeInUp">
                                To produce quality & quantity, we have installed all the best possible latest world class technological machinery at our plant.
                            </p>
                            @*<a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>*@
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url(../../assets/images/wireImages/4.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">Welcome to SRiNi LiNK</h2>
                            <p class="animate__animated animate__fadeInUp">
                                For optimum consistency of quality, quantity & services along with traceability of material from incoming to outgoing.
                            </p>
                            @*<a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>*@
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url(../../assets/images/wireImages/5.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">Welcome to SRiNi LiNK</h2>
                            <p class="animate__animated animate__fadeInUp">
                                For optimum consistency of quality, quantity & services along with traceability of material from incoming to outgoing.
                            </p>
                            @* <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>*@
                        </div>
                    </div>
                </div>

            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>

        </div>
    </div>
</section><!-- End Hero Section -->

<main id="main">

    <!-- ======= Featured Services Section Section ======= -->
    <section id="featured-services">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 box">
                    <i class="bi bi-briefcase"></i>
                    <h4 class="title"><a href="">Lorem Ipsum Delino</a></h4>
                    <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                </div>

                <div class="col-lg-4 box box-bg">
                    <i class="bi bi-card-checklist"></i>
                    <h4 class="title"><a href="">Dolor Sitema</a></h4>
                    <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
                </div>

                <div class="col-lg-4 box">
                    <i class="bi bi-binoculars"></i>
                    <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
                    <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                </div>

            </div>
        </div>
    </section><!-- End Featured Services Section -->
    <!-- ======= About Us Section ======= -->
    <section id="about">
        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h3>About Us</h3>
                <p class="">
                    A Warm welcome from SRiNi LiNK team.<br>
                    <br>
                    SRiNi LiNK produces one of the best cables & wires since 02/04/1997 for the existing customers & global market, by meeting their standards or customized requirement with a various product ranges.<br>
                    <br>
                    To produce quality & quantity, we have installed all the best possible latest world class technologies machinery at our plant.<br>
                    <br>
                    For optimum consistency of quality, quantity & services along with traceability of material from incoming to outgoing, we have implemented ISO 9001-2010 system since 01/03/2001.<br>
                    <br>
                    We cater verities of product to many different customers, but for INDIAN, AMERICAN & CANADA market we have below certified PVC cable products by their respective departments.
                </p>

                <table class="table table-bordered">
                    @*<thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    </tr>
                    </thead>*@
                    <tbody class="text-center">
                        <tr>
                            <th scope="row">1)</th>
                            <td>IS : 694 : 1990</td>
                            <td>BIS : Bureau of Indian Standard</td>
                        </tr>
                        <tr>
                            <th scope="row">2)</th>
                            <td>UL : 758</td>
                            <td>Underwriter aboratories</td>
                        </tr>
                    </tbody>
                </table>

                <br>

                <p class="">
                    Mfg. Different cable standard by matching their properties
                </p>

                <table class="table table-bordered">
                    <tbody class="text-center">
                        <tr>
                            <th scope="row">1)</th>
                            <td>IS 2465 - 1984</td>
                            <td>BIS : Bureau of Indian Standard</td>
                        </tr>
                        <tr>
                            <th scope="row">2)</th>
                            <td>BS 6862 : Part 1 : 1971</td>
                            <td>BSI : British Standard Institute</td>
                        </tr>
                        <tr>
                            <th scope="row">3)</th>
                            <td>JIS C 3406 - 1993</td>
                            <td>Japanese Industrial Standard</td>
                        </tr>
                        <tr>
                            <th scope="row">4)</th>
                            <td>UL : 758</td>
                            <td>Japanese Automobile Standard</td>
                        </tr>
                        <tr>
                            <th scope="row">5)</th>
                            <td>DIN 72551 - 6</td>
                            <td>Deutshes Institute für Normung</td>
                        </tr>
                        <tr>
                            <th scope="row">6)</th>
                            <td>ISO 6722</td>
                            <td>International Organization for Standardization</td>
                        </tr>
                        <tr>
                            <th scope="row">7)</th>
                            <td>IS 1554</td>
                            <td>BIS : Bureau of Indian Standard</td>
                        </tr>
                        <tr>
                            <th scope="row">8)</th>
                            <td>IS 7098</td>
                            <td>BIS : Bureau of Indian Standard</td>
                        </tr>
                    </tbody>
                </table>

                <p class="">
                    In the consideration of environmental safety and green product, SRiNi LiNK has its own GREEN GROUND in form of 100% RoHS INHOUSE PVC Compound manufacturing plant since 2003 along with REACH Compliance since 2011 (against demand) With production technology, management system & maximum environmental friendly products, SRINI LINK has created its own unique & distinguish name for its quality product & services.<br>
                    <br>
                    Domestic market (Network Business)<br>
                    Automobile Industries (OEM)<br>
                    Appliances product (White goods)<br>
                    Panel Board & Distribution Broad Mfg.<br>
                    "SRINI LINK®" the brand itself has created its glorious name in the market of automobile industries, switchgear & power industries & domestic wiring sector.<br>
                </p>
            </header>

            <div class="row about-cols">

                <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="about-col">
                        <div class="img">
                            <img src="assets/img/about-vision.jpg" alt="" class="img-fluid">
                            <div class="icon"><i class="bi bi-calendar4-week"></i></div>
                        </div>
                        <h2 class="title"><a href="#">Vision</a></h2>
                        <p class="text-center">
                            Our vision is to become the World’s leading Wires & Cables Manufacturing Company, offering Our Valued Customers Latest & World Class Quality Products which are 100 % Safe & Environment friendly by following all Compliant, Statutory, Legal Practices and Social Obligations.
                        </p>
                    </div>
                </div>

                <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="about-col">
                        <div class="img">
                            <img src="assets/img/about-mission.jpg" alt="" class="img-fluid">
                            <div class="icon"><i class="bi bi-bar-chart"></i></div>
                        </div>
                        <h2 class="title"><a href="#">Mission</a></h2>
                        <p class="text-center">
                            To capture minimum 50% Segment of Domestic Market for Industrial Wires & Cables, by FY-2025<br>
                            To reach a status of ”Green Channel“, for 90% of our customers, by FY-2021<br>
                            To Establish our reach ability in PAN India market , through setting up region wise Sales Outlets, Stock Points and Aggressive Marketing, supported by a Strong Sales Team with Logistical Hubs, by FY-2021<br>
                            To Achieve all Major accreditations by Government Approved Agencies for all our products by FY-2020<br>
                        </p>
                    </div>
                </div>

                <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="about-col">
                        <div class="img">
                            <img src="assets/img/about-plan.jpg" alt="" class="img-fluid">
                            <div class="icon"><i class="bi bi-brightness-high"></i></div>
                        </div>
                        <h2 class="title"><a href="#">Values</a></h2>
                        <p class="text-center">
                            We keep it real always and we are one for all.<br>
                            We provide quality products and services that meet our customers needs.
                        </p>
                    </div>
                </div>



            </div>

        </div>
    </section><!-- End About Us Section -->
    <!-- ======= Services Section ======= -->
    <section id="services">
        <div class="container" data-aos="fade-up">

            <header class="section-header wow fadeInUp">
                <h3>Services</h3>
                <p>Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus, ad pro quaestio laboramus. Ei ubique vivendum pro. At ius nisl accusam lorenta zanos paradigno tridexa panatarel.</p>
            </header>

            <div class="row">

                <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="bi bi-briefcase"></i></div>
                    <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                    <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                </div>
                <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="bi bi-card-checklist"></i></div>
                    <h4 class="title"><a href="">Dolor Sitema</a></h4>
                    <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
                </div>
                <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon"><i class="bi bi-bar-chart"></i></div>
                    <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
                    <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                </div>
                <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="bi bi-binoculars"></i></div>
                    <h4 class="title"><a href="">Magni Dolores</a></h4>
                    <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                </div>
                <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon"><i class="bi bi-brightness-high"></i></div>
                    <h4 class="title"><a href="">Nemo Enim</a></h4>
                    <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
                </div>
                <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon"><i class="bi bi-calendar4-week"></i></div>
                    <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
                    <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
                </div>

            </div>

        </div>
    </section><!-- End Services Section -->
    <!-- ======= Call To Action Section ======= -->
    @*<section id="call-to-action">
    <div class="container text-center" data-aos="zoom-in">
    <h3>Call To Action</h3>
    <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <a class="cta-btn" href="#">Call To Action</a>
    </div>
    </section>*@

    <!-- End Call To Action Section -->
    <!-- ======= Skills Section ======= -->
    @*<section id="skills">
    <div class="container" data-aos="fade-up">

    <header class="section-header">
    <h3>Our Skills</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
    </header>

    <div class="skills-content">

    <div class="progress">
    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
    <span class="skill">HTML <i class="val">100%</i></span>
    </div>
    </div>

    <div class="progress">
    <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
    <span class="skill">CSS <i class="val">90%</i></span>
    </div>
    </div>

    <div class="progress">
    <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
    <span class="skill">JavaScript <i class="val">75%</i></span>
    </div>
    </div>

    <div class="progress">
    <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
    <span class="skill">Photoshop <i class="val">55%</i></span>
    </div>
    </div>

    </div>

    </div>
    </section>*@

    <!-- End Skills Section -->
    <!-- ======= Facts Section ======= -->
    @*<section id="facts">
    <div class="container" data-aos="fade-up">

    <header class="section-header">
    <h3>Facts</h3>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
    </header>

    <div class="row counters">

    <div class="col-lg-3 col-6 text-center">
    <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
    <p>Clients</p>
    </div>

    <div class="col-lg-3 col-6 text-center">
    <span data-purecounter-start="0" data-purecounter-end="421" data-purecounter-duration="1" class="purecounter"></span>
    <p>Projects</p>
    </div>

    <div class="col-lg-3 col-6 text-center">
    <span data-purecounter-start="0" data-purecounter-end="1364" data-purecounter-duration="1" class="purecounter"></span>
    <p>Hours Of Support</p>
    </div>

    <div class="col-lg-3 col-6 text-center">
    <span data-purecounter-start="0" data-purecounter-end="38" data-purecounter-duration="1" class="purecounter"></span>
    <p>Hard Workers</p>
    </div>

    </div>

    <div class="facts-img">
    <img src="assets/img/facts-img.png" alt="" class="img-fluid">
    </div>

    </div>
    </section>*@

    <!-- End Facts Section -->
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="section-bg">
        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h3 class="section-title">Our Products</h3>
            </header>

            <div class="row" data-aos="fade-up" data-aos-delay="100" ">
                <div class=" col-lg-12">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-app">BUILDING WIRE</li>
                        <li data-filter=".filter-card">TELEPHONE CABLE</li>
                        <li data-filter=".filter-web">SOLAR CABLE</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="../../assets/images/wireImages/Products/BuildingWire/building-wire.png" class="img-fluid" alt="">
                            @*<a href="assets/img/portfolio/app1.jpg"  class="link-preview portfolio-lightbox" data-lightbox="portfolio" data-title="App 1" ><i class="bi bi-plus"></i></a>*@
                            <a href="../../assets/images/wireImages/Products/building-wire.png"  class="link-preview portfolio-lightbox" data-lightbox="portfolio" data-title="App 1" ><i class="bi bi-plus"></i></a>
                            <a asp-area="" asp-controller="Home" asp-action="Image" asp-route-id="BuildingWire" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                        </figure>

                        <div class="portfolio-info">
                            <h4><a href="portfolio-details.html">BUILDING WIRE</a></h4>
                            <p></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="../../assets/images/wireImages/Products/Solar Cable/SOLAR CABLE.png" class="img-fluid" alt="">
                            @*<a href="assets/img/portfolio/web3.jpg" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Web 3"><i class="bi bi-plus"></i></a>*@
                            <a href="../../assets/images/wireImages/Products/SOLAR CABLE.png" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Web 3"><i class="bi bi-plus"></i></a>
                            <a asp-area="" asp-controller="Home" asp-action="Image" asp-route-id="SolarCable" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                        </figure>

                        <div class="portfolio-info">
                            <h4><a href="portfolio-details.html">SOLAR CABLE</a></h4>
                            <p></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <figure>
                            <img src="../../assets/images/wireImages/Products/TELEPHONE CABLE/TELEPHONE CABLE.jpg" class="img-fluid" alt="">
                            @*<a href="assets/img/portfolio/card2.jpg" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Card 2"><i class="bi bi-plus"></i></a>*@
                            <a href="../../assets/images/wireImages/Products/TELEPHONE CABLE.jpg" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Card 2"><i class="bi bi-plus"></i></a>
                            <a asp-area="" asp-controller="Home" asp-action="Image" asp-route-id="TelephoneCable" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                        </figure>

                        <div class="portfolio-info">
                            <h4><a href="portfolio-details.html">TELEPHONE CABLE</a></h4>
                            <p></p>
                        </div>
                    </div>
                </div>

        @*<div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                <figure>
                <img src="assets/img/portfolio/app2.jpg" class="img-fluid" alt="">
                <a href="assets/img/portfolio/app2.jpg" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="App 2"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                </figure>

                <div class="portfolio-info">
                <h4><a href="portfolio-details.html">App 2</a></h4>
                <p>App</p>
                </div>
                </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                <figure>
                <img src="assets/img/portfolio/web2.jpg" class="img-fluid" alt="">
                <a href="assets/img/portfolio/web2.jpg" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Web 2"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                </figure>

                <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Web 2</a></h4>
                <p>Web</p>
                </div>
                </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                <figure>
                <img src="assets/img/portfolio/app3.jpg" class="img-fluid" alt="">
                <a href="assets/img/portfolio/app3.jpg" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="App 3"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                </figure>

                <div class="portfolio-info">
                <h4><a href="portfolio-details.html">App 3</a></h4>
                <p>App</p>
                </div>
                </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                <figure>
                <img src="assets/img/portfolio/card1.jpg" class="img-fluid" alt="">
                <a href="assets/img/portfolio/card1.jpg" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Card 1"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                </figure>

                <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Card 1</a></h4>
                <p>Card</p>
                </div>
                </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                <figure>
                <img src="assets/img/portfolio/card3.jpg" class="img-fluid" alt="">
                <a href="assets/img/portfolio/card3.jpg" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Card 3"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                </figure>

                <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Card 3</a></h4>
                <p>Card</p>
                </div>
                </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                <figure>
                <img src="assets/img/portfolio/web1.jpg" class="img-fluid" alt="">
                <a href="assets/img/portfolio/web1.jpg" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Web 1"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                </figure>

                <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Web 1</a></h4>
                <p>Web</p>
                </div>
                </div>
                </div>*@

            </div>

        </div>
    </section><!-- End Portfolio Section -->
    <!-- ======= Our Clients Section ======= -->
    <section id="clients">
        <div class="container" data-aos="zoom-in">

            <header class="section-header">
                <h3>Our Clients</h3>
            </header>

            <div class="clients-slider swiper">
                <div class="swiper-wrapper align-items-center">
                    <div class="swiper-slide"><img src="../../assets/images/CUSTOMERS/Ashok-Leyland.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="../../assets/images/CUSTOMERS/Bajaj-distinctly-ahead.jpg" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="../../assets/images/CUSTOMERS/Eicher.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="../../assets/images/CUSTOMERS/ford.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="../../assets/images/CUSTOMERS/honda.jpg" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="../../assets/images/CUSTOMERS/Hyundai.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="../../assets/images/CUSTOMERS/Lucas TVS.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="../../assets/images/CUSTOMERS/lumax.jpg" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="../../assets/images/CUSTOMERS/Mahindra.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="../../assets/images/CUSTOMERS/MAN.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="../../assets/images/CUSTOMERS/minda.jpg" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="../../assets/images/CUSTOMERS/Nissan.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="../../assets/images/CUSTOMERS/Pricol-logo-original.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="../../assets/images/CUSTOMERS/renault-nissan.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="../../assets/images/CUSTOMERS/royal-enfield.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="../../assets/images/CUSTOMERS/subros.jpg" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="../../assets/images/CUSTOMERS/tafe.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="../../assets/images/CUSTOMERS/Tata_Hitachi.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="../../assets/images/CUSTOMERS/toyota.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="../../assets/images/CUSTOMERS/tvs.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="../../assets/images/CUSTOMERS/Volvo.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="../../assets/images/CUSTOMERS/VST Shakti.jpg" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="../../assets/images/CUSTOMERS/yamaha.png" class="img-fluid" alt=""></div>
                    @*<div class="swiper-slide"><img src="assets/images/CUSTOMERS/" class="img-fluid" alt=""></div>*@

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Our Clients Section -->
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="section-bg">
        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h3>Testimonials</h3>
            </header>

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="../../assets/img/testimonial-1.jpg" class="testimonial-img" alt="">
                            <h3>Anand Mahindra</h3>
                            <h4>Chairman, Mahindra Group</h4>
                            <p>
                                <img src="../../assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
                                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                                <img src="../../assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="../../assets/img/testimonial-2.jpg" class="testimonial-img" alt="">
                            <h3>Siddhartha Lal</h3>
                            <h4>CEO & MD</h4>
                            <p>
                                <img src="../../assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
                                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                                <img src="../../assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="../../assets/img/testimonial-3.jpg" class="testimonial-img" alt="">
                            <h3>Sandeep Singh</h3>
                            <h4>Managing Director</h4>
                            <p>
                                <img src="../../assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
                                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                                <img src="../../assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="../../assets/img/testimonial-4.jpg" class="testimonial-img" alt="">
                            <h3>Venu Srinivasan</h3>
                            <h4>Chairman Emeritus of TVS Motor</h4>
                            <p>
                                <img src="../../assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
                                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                                <img src="../../assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="../../assets/img/testimonial-5.jpg" class="testimonial-img" alt="">
                            <h3>Ratan Tata</h3>
                            <h4>Indian industrialist</h4>
                            <p>
                                <img src="../../assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
                                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                                <img src="../../assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section>

    <!-- End Testimonials Section -->
    <!-- ======= Team Section ======= -->
    <section id="team">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h3>Team</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
            </div>

            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="member" data-aos="fade-up" data-aos-delay="100">
                        <img src="../../assets/img/team-1.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Walter White</h4>
                                <span>Chief Executive Officer</span>
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member" data-aos="fade-up" data-aos-delay="200">
                        <img src="../../assets/img/team-2.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Sarah Jhonson</h4>
                                <span>Product Manager</span>
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member" data-aos="fade-up" data-aos-delay="300">
                        <img src="../../assets/img/team-3.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>William Anderson</h4>
                                <span>CTO</span>
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member" data-aos="fade-up" data-aos-delay="400">
                        <img src="../../assets/img/team-4.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Amanda Jepson</h4>
                                <span>Accountant</span>
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <!-- End Team Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h3>Contact Us</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
            </div>

            <div class="row contact-info">

                <div class="col-md-4">
                    <div class="contact-address">
                        <i class="bi bi-geo-alt"></i>
                        <h3>Address</h3>
                        <address>Plot No. 1308/2, 1308/1 & 1309/2 Phase 3, GIDC Industrial Estate, Road No. 18, Umbergaon-396171,Dist: Valsad, Gujarat, India.</address>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-phone">
                        <i class="bi bi-phone"></i>
                        <h3>Phone Number</h3>
                        <p><a href="tel:+912602562712">(+91) 260 2562712 / 2564197</a></p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-email">
                        <i class="bi bi-envelope"></i>
                        <h3>Email</h3>
                        <p><a href="mailto:sl.srinivasan@srinilink.com">sl.partners@srinilink.com</a></p>
                    </div>
                </div>

            </div>

            <div class="form">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>
            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->
<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row pt-3">

                <div class="col-lg-3 col-md-6 footer-info">
                    <div>
                        <h3>SRiNi LiNK<sup>&reg;</sup></h3>
                    </div>
                    <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p>

                    <div class="social-links pt-3">
                        <a href="https://in.linkedin.com/company/srini-link---india" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        <a href="https://www.facebook.com/srini.link" target="_blank" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="https://twitter.com/srinilink" target="_blank" class="twitter"><i class="bi bi-twitter"></i></a>
                        @*<a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>*@
                    </div>

                </div>



                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>REGD. OFFICE</h4>
                    <p>

                        <b>M/s. SRiNi LiNK</b><br>

                        Plot No. 1308/2, 1308/1 & 1309/2<br>
                        Phase 3, GIDC Industrial Estate,<br>
                        Road No. 18, Umbergaon-396171,<br>
                        Dist: Valsad, Gujarat, India.<br>

                        <strong>Tel :</strong> (+91) 260 2562712 / 2564197<br>

                        <strong>Email :</strong> sl.marketing@srinilink.com<br>
                        <strong>Email :</strong> sl.partners@srinilink.com<br>
                        @*<strong>Email :</strong> sl.srinivasan@srinilink.com*@

                        @* A108 Adam Street <br>
                        New York, NY 535022<br>
                        United States <br>
                        <strong>Phone:</strong> +1 5589 55488 55<br>
                        <strong>Email:</strong> info@example.com<br>*@
                    </p>



                </div>

                <div class="col-lg-3 col-md-6 footer-newsletter">
                    <h4>SURAT DEPOT</h4>
                    <p>
                        <b>M/s. SRiNi LiNK</b><br>

                        Shop No. 03, Plot No. A-10/11,<br>
                        Shree Anjani Krupa Building,<br>
                        Udhna Road No. 03,<br>
                        Near Dharti Namkeen,<br>
                        Udhna Udhyognagar,<br>
                        Surat 394210<br>

                        <strong>Tel :</strong> (+91) 261 2279003
                    </p>

                    @*<form action="" method="post">
                    <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>*@
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>PRODUCTS</h4>
                    <ul>
                        <li><a href="#">BUILDING WIRE</a></li>
                        <li><a href="#">PANEL WIRE</a></li>
                        <li><a href="#">FLEXIBLE MULTICORE WIRE</a></li>
                        <li><a href="#">SUBMERSIBLE CABLE</a></li>
                        <li><a href="#">ARMOURED</a></li>
                        <li><a href="#">TELEPHONE CABLE</a></li>
                        <li><a href="#">UTP (CAT 5, CAT 5E, CAT 6)</a></li>
                        <li><a href="#">POWER CORDS</a></li>
                        <li><a href="#">UL 758</a></li>
                        <li><a href="#">SOLAR CABLE</a></li>
                        <li><a href="#">AUTOMOBILE BATTERY</a></li>
                        <li><a href="#">TPU CABLE</a></li>
                        <li><a href="#">PVC SLEEVES</a></li>
                        <li><a href="#">SPECIAL SEGMENT PRODUCTS</a></li>
                    </ul>
                    @*<ul>
                    <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>*@
                </div>

            </div>
        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<!-- Uncomment below i you want to use a preloader -->
<!-- <div id="preloader"></div> -->
<!-- Vendor JS Files -->
