@*@using Business.Entities.ProductPhotoPath.ProductPhotoPath;*@
@model List<Business.Entities.ProductPhotoPath.ProductPhotoPath>
@{
    ViewData["Title"] = "Solar Cable Wire Information";
}
<div class="container margin-top-80">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
            <div class="card border-0 shadow rounded-3">
                <div class="card-body">
                    @*<img src="../../assets/images/wireImages/Products/building-wire.png"
                    class="rounded mx-auto d-block" alt="Building Wire">*@
                    @*<div class="hero-container">
                    <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="2500">

                    //<ol id="hero-carousel-indicators" class="carousel-indicators"></ol>

                    <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                    <img src="../../assets/images/wireImages/Products/BuildingWire/SLBuildingWire.jpg"
                    class="rounded mx-auto d-block" alt="Building Wire">
                    </div>
                    <div class="carousel-item">
                    <img src="../../assets/images/wireImages/Products/BuildingWire/building-wire.png"
                    class="rounded mx-auto d-block" alt="Building Wire">
                    </div>
                    <div class="carousel-item">
                    <img src="../../assets/images/wireImages/Products/BuildingWire/building-wire2.png"
                    class="rounded mx-auto d-block" alt="Building Wire">
                    </div>
                    </div>
                    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
                    </a>
                    <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
                    </a>
                    </div>
                    </div>*@
                    <div class="ProductImage">
                        <h1 class="text-center pt-3">SOLAR CABLE</h1>
                        <div class="row mb-5" id="imagesLoop">
                            @foreach(var items in Model)
                            {
                            <div class="col-sl-12 col-md-4 col-lg-4 col-xl-4 my-3">
                                <div class="card">
                                    <img id="img01" src="@Html.DisplayFor(modelItem => items.ImagePath)" class="card-img-top rounded mx-auto d-block" alt="Solar Cable" style="width:150px; height:150px;">
                                    <div class="card-body text-center">
                                        <button type="button" class="btn btn-primary px-5 my-3">RFQ</button>
                                        <h4 class="card-title">@Html.DisplayFor(modelItem => items.ProductImageText)</h4>
                                        <p class="card-text">@Html.DisplayFor(modelItem => items.Description)</p>
                                    </div>
                                </div>
                            </div>
                            }
                            
                        </div>


                        <p><b>Application:</b> Solar cable is the interconnection cable used in photovoltaic power generation device and which interconnects solar panels and other electrical components of a photovoltaic system.</p>

                        <p><b>Conductor:</b> The photovoltaic power system means outdoor green electric generation, so solar cables are designed for</p>

                        <ul style="list-style-type:circle;">
                            <li>High temperatures resistance</li>
                            <li>High UV radiation resistance</li>
                            <li>Dry or Wet weather resistance</li>
                            <li>Salty moisture resistant.</li>
                            <li>High temperatures resistance</li>
                        </ul>

                        <p>Single-core cables with a maximum permissible DC voltage of 600 V to 2000 V and a temperature range from -40°C to +105°C are generally used.</p>

                        <p>A three-core cable is used for connection to the grid if a single-phase inverter is used, and a five-core cable is used for three-phase feed-in</p>

                        <p><b>Conductor :</b> EC Grade Annealed Tinned Copper (ATC) with 99.90 % to 99.97 % purity, which offer low conductor resistance, lower heating which help maximum current follow with less resistance to storage device or high tension connected line.</p>

                        <p>On demand EC grade bare copper can be used with 99.90% to 99.97% purity</p>

                        <div class="row">
                            <img src="../../assets/images/wireImages/Products/Solar Cable/Solar Cable.jpg" alt="Solar Cable" class="" style="height:100%;">
                        </div>

                        <!--
                        @*<div class="row">
                             <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 building-txt-hdr-SolarCable">
                                 PVC HR-FR SOLAR CABLE :
                             </div>

                             <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 h4">
                                 (Type C (HR-FR) Insulation & ST 2 (FR) Sheath) Reach Compliance
                             </div>
                         </div>

                        <table class="table table-bordered text-center mt-3">

                             <tbody>
                                 <tr class="" style="background-color:#f8c0d9">
                                     <th>
                                         Sr.No
                                     </th>
                                     <th>
                                         Description
                                     </th>
                                     <th>
                                         Specification
                                     </th>
                                     <th>
                                         Values
                                     </th>
                                     <th colspan="4">
                                         Remark
                                     </th>
                                 </tr>




                                 <tr>
                                     <td>1</td>
                                     <td>Conductor</td>
                                     <td>IS 8130 Class 5 or IEC 60332-1 Class 5</td>
                                     <td>Flexible Annealed tinned Copper</td>
                                     <td>99.90% to 99.97% Purity</td>
                                 </tr>

                                 <tr>
                                     <td>2</td>
                                     <td>PVC Insulation(Reach)</td>
                                     <td>IS 5831 Type C (HRFR)</td>
                                     <td>Normal operating continuous temp 85 deg and Short Circuit temp 160 deg</td>
                                     <td>UV resistance and anti rodent</td>
                                 </tr>

                                 <tr>
                                     <td>3</td>
                                     <td>PVC Sheath(Reach)</td>
                                     <td>IS 5831</td>
                                     <td>Type ST 2 (FR)</td>
                                     <td>Black color with UV resistance and anti rodent</td>
                                 </tr>

                                 <tr>
                                     <td>4</td>
                                     <td>FR properties</td>
                                     <td>IS 5831</td>
                                     <td>Oxygeb Index 29% and temp Index 250 deg</td>
                                     <td>Thermal aging more than 200 min @@ 200 deg</td>
                                 </tr>

                                 <tr>
                                     <td>5</td>
                                     <td>Voltage</td>
                                     <td>IS 15554</td>
                                     <td>1500 V DC</td>
                                     <td>Max permitted 1800 V DC</td>
                                 </tr>

                                 <tr>
                                     <td>6</td>
                                     <td>Bending radius</td>
                                     <td>-</td>
                                     <td>&#216; X 4</td>
                                     <td>For fixed Installation</td>
                                 </tr>

                                 <tr>
                                     <td>7</td>
                                     <td>Bending radius</td>
                                     <td>-</td>
                                     <td>&#216; X 5</td>
                                     <td>For Occasionally moved</td>
                                 </tr>

                                 <tr>
                                     <td>8</td>
                                     <td>Std Packing</td>
                                     <td>-</td>
                                     <td>100 meters</td>
                                     <td>As per requirement multiple</td>
                                 </tr>

                                 <tr>
                                     <td>9</td>
                                     <td>Expected life</td>
                                     <td>-</td>
                                     <td>More than 25 years</td>
                                     <td>@@ 85 deg</td>
                                 </tr>

                             </tbody>
                         </table>*@

                        @*<div class="row">
                         <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 building-txt-hdr-SolarCable">
                         TECHNICAL SPECIFICATION:-
                         </div>

                         <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 h4">
                         (Generally Conforming To IS : 1554(Part 1) - 1988)
                         </div>
                         </div>*@

                        @*<table class="table table-bordered text-center mt-3">
                         <tbody>
                         <tr class="" style="background-color:#f8c0d9">
                         <th rowspan="2">
                         Area of Conductor
                         </th>
                         <th rowspan="2">
                         Number of Strands/Diameter of Wire
                         </th>
                         <th rowspan="2">
                         Nominal Thickness of Insulation
                         </th>
                         <th rowspan="2">
                         Nominal Thickness of Insulation
                         </th>
                         <th rowspan="2">
                         Over ALL Diameter (Max)
                         </th>
                         <th colspan="2">
                         REsistance Per Km @@ 20' C(Max)
                         </th>
                         <th colspan="2">
                         Current Carrying Capacity
                         </th>
                         </tr>

                         <tr style="background-color:#f8c0d9">
                         <td colspan="2">ohms</td>
                         <td colspan="2"></td>
                         </tr>

                         <tr>
                         <td>Sq.mm</td>
                         <td>mm</td>
                         <td>mm</td>
                         <td>Mm</td>
                         <td>Mm</td>
                         <td>Bare Copper</td>
                         <td>Tinned Copper</td>
                         <td>Amps</td>
                         <td></td>
                         </tr>

                         <tr>
                         <td>2.5</td>
                         <td>50/0.25</td>
                         <td>0.90</td>
                         <td>1.24</td>
                         <td>6.37</td>
                         <td>7.98</td>
                         <td>8.21</td>
                         <td>22</td>
                         <td></td>
                         </tr>

                         <tr>
                         <td>4.0</td>
                         <td>56/0.3</td>
                         <td>1.00</td>
                         <td>1.24</td>
                         <td>7.13</td>
                         <td>4.95</td>
                         <td>5.09</td>
                         <td>29</td>
                         <td></td>
                         </tr>

                         <tr>
                         <td>6.0</td>
                         <td>84/0.3</td>
                         <td>1.00</td>
                         <td>1.24</td>
                         <td>7.72</td>
                         <td>3.30</td>
                         <td>3.39</td>
                         <td>37</td>
                         <td></td>
                         </tr>

                         <tr>
                         <td>10</td>
                         <td>140/0.3</td>
                         <td>1.00</td>
                         <td>1.24</td>
                         <td>8.67</td>
                         <td>1.91</td>
                         <td>1.95</td>
                         <td>51</td>
                         <td></td>
                         </tr>

                         <tr>
                         <td>16</td>
                         <td>126/0.4</td>
                         <td>1.20</td>
                         <td>1.24</td>
                         <td>10.18</td>
                         <td>1.21</td>
                         <td>1.24</td>
                         <td>68</td>
                         <td></td>
                         </tr>

                         <tr>
                         <td>25</td>
                         <td>196/0.4</td>
                         <td>1.20</td>
                         <td>1.24</td>
                         <td>11.49</td>
                         <td>0.780</td>
                         <td>0.795</td>
                         <td>86</td>
                         <td></td>
                         </tr>

                         <tr>
                         <td>35</td>
                         <td>276/0.4</td>
                         <td>1.40</td>
                         <td>1.24</td>
                         <td>13.12</td>
                         <td>0.554</td>
                         <td>0.565</td>
                         <td>110</td>
                         <td></td>
                         </tr>

                         <tr>
                         <td>50</td>
                         <td>396/0.4</td>
                         <td>1.40</td>
                         <td>1.24</td>
                         <td>14.67</td>
                         <td>0.386</td>
                         <td>0.393</td>
                         <td>145</td>
                         <td></td>
                         </tr>

                         <tr>
                         <td>70</td>
                         <td>354/05</td>
                         <td>1.60</td>
                         <td>1.24</td>
                         <td>16.78</td>
                         <td>0.272</td>
                         <td>0.277</td>
                         <td>215</td>
                         <td></td>
                         </tr>

                         <tr>
                         <td>95</td>
                         <td>480/0.5</td>
                         <td>1.60</td>
                         <td>1.40</td>
                         <td>18.72</td>
                         <td>0.206</td>
                         <td>0.210</td>
                         <td>260</td>
                         <td></td>
                         </tr>

                         <tr>
                         <td>120</td>
                         <td>607/0.5</td>
                         <td>1.80</td>
                         <td>1.40</td>
                         <td>20.95</td>
                         <td>0.161</td>
                         <td>0.164</td>
                         <td>305</td>
                         <td></td>
                         </tr>

                         <tr>
                         <td>150</td>
                         <td>760/0.5</td>
                         <td>2.00</td>
                         <td>1.40</td>
                         <td>22.96</td>
                         <td>0.129</td>
                         <td>0.132</td>
                         <td>355</td>
                         <td></td>
                         </tr>

                         <tr>
                         <td>185</td>
                         <td>941/0.5</td>
                         <td>2.20</td>
                         <td>1.40</td>
                         <td>25.20</td>
                         <td>0.106</td>
                         <td>0.108</td>
                         <td>415</td>
                         <td></td>
                         </tr>

                         <tr>
                         <td>240</td>
                         <td>1221/0.5</td>
                         <td>2.40</td>
                         <td>1.40</td>
                         <td>28.04</td>
                         <td>0.0801</td>
                         <td>0.817</td>
                         <td>500</td>
                         <td></td>

                         <tr>
                         <td>300</td>
                         <td>1527/0.5</td>
                         <td>2.60</td>
                         <td>1.40</td>
                         <td>30.85</td>
                         <td>0.0641</td>
                         <td>0.0654</td>
                         <td>585</td>
                         <td></td>
                         </tr>
                         </tbody>
                         </table>*@
                         -->

                        <div class="row">
                            <img src="../../assets/images/wireImages/Products/Solar Cable/Picture-attached2.jpg" alt="Solar Cable" class="" style="height:100%;">
                        </div>

                        <div class="row">
                            <img src="../../assets/images/wireImages/Products/Solar Cable/Picture-attached3.jpg" alt="Solar Cable" class="" style="height:100%;">
                        </div>

                        <div class="row">
                            <img src="../../assets/images/wireImages/Products/Solar Cable/Picture-attached4.jpg" alt="Solar Cable" class="" style="height:100%;">
                        </div>

                        <div class="row">
                            <img src="../../assets/images/wireImages/Products/Solar Cable/Picture-attached5.jpg" alt="Solar Cable" class="" style="height:100%;">
                        </div>

                        <div class="row">
                            <img src="../../assets/images/wireImages/Products/Solar Cable/Picture-attached6.jpg" alt="Solar Cable" class="" style="height:100%;">
                        </div>

                        <div class="row">
                            <img src="../../assets/images/wireImages/Products/Solar Cable/Picture-attached7.jpg" alt="Solar Cable" class="" style="height:100%;">
                        </div>

                        <div class="row">
                            <img src="../../assets/images/wireImages/Products/Solar Cable/Picture-attached8.jpg" alt="Solar Cable" class="" style="height:100%;">
                        </div>

                        <div class="row">
                            <img src="../../assets/images/wireImages/Products/Solar Cable/Picture-attached9.jpg" alt="Solar Cable" class="" style="height:100%;">
                        </div>

                        <div class="text-center">
                            <div class="download-part-all">
                                <div class="download-btn">
                                    <a asp-controller="Home" asp-action="GetPdf" target="_blank">
                                        <img src="../../assets/images/wireImages/Brochure/dn-brochure.png" alt="Download Brochure" class="ProductBrochure">
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    for (int i = 0; i < ViewBag.Image.Count(); i++)
    {
        debugger
        document.getElementById("imagesLoop").innerHTML += "<div>col" + i + "</div>";
        //var test = imgPath.
        //    $(document).ready(function() {
        //        function() {
        //            document.getElementById('img01').src = myJsVariable.Count()[i];
        //            //document.getElementById('personEmailToMeet').value = data.officeEmail;
        //        };
        //    });
    }
</script>