@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject SignInManager<UserMasterMetadata> SignInManager
@inject UserManager<UserMasterMetadata> UserManager



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ERP</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="container1">
        <header id="header" class="fixed-top d-flex align-items-center header-transparent">
            <div class="container-fluid">
                <div class="row justify-content-center align-items-center">
                    <div class="col-xl-11 d-flex align-items-center justify-content-between">
                        <h1 class="logo"><a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/assets/images/Srini_Link_logo.png" alt="Srini Link"></a></h1><!--href="index.html"-->
                        <!-- Uncomment below if you prefer to use an image logo -->
                        <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
                        <nav id="navbar" class="navbar">
                            <ul>

                               
                                <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                                <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="about">About</a></li>
                                <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="services">Services</a></li>
                                <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="portfolio">Products</a></li>
                                <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="contact">Contact</a></li>


                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <li><a class="nav-link " asp-area="Admin" asp-controller="Home" asp-action="Index">Dashboard</a></li>
                                    <li>
                                        <form class="form-inline" asp-area="" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                            <button type="submit" class="nav-link scrollto" style="background: none; border: none;"><span>Logout</span></button>
                                        </form>

                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                                    </li>
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="Visitor" asp-action="Create">Request Visit</a>
                                    </li>
                                }
                            </ul>
                            <i class="bi bi-list mobile-nav-toggle"></i>
                        </nav><!-- .navbar -->
                    </div>
                </div>
            </div>
        </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer id="footer">
        <div class="footer-top">
            <div class="containers">
                <div class="copyright">
                    &copy;Copyright <strong>SRiNi LiNK</strong>. All Rights Reserved
                </div>
                <div class="credits">
                    Designed by <a href="#">Akshar IT Solution</a>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/assets/vendor/purecounter/purecounter.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
