@using Microsoft.AspNetCore.Identity
@using Business.SQL
@using GridCore
@addTagHelper *, GridMvc
@model ISGrid
@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "Security Officer List..";
}
<div class="page-breadcrumb d-none d-sm-flex align-items-center pb-3 border-bottom">
    <div class="ps-3 col-md-6">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a asp-controller="SecurityOfficer" asp-action="Index" asp-area="Admin"><i class="bx bx-home-alt"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Security Officer List</li>
            </ol>
        </nav>
    </div>
    <div class="col-md-6 text-align-right">
        <a class="btn btn-primary px-5" onclick="fnSecurityOfficer(this)"
           href="javascript:void(0)"
           data-key="0"
           data-bs-toggle="offcanvas"
           data-bs-target="#canvas_securityOfficer"
           aria-controls="canvas_securityOfficer">
            Add Security Officer
        </a>
    </div>
</div>
<div class="row pt-1">
    <div class="col-md-12">
        <grid model="@Model" />
    </div>
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="canvas_securityOfficer" style="width: 70% !important; visibility: visible;">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="canvasHeader"></h5>
        <button type="button" class="btn-close te  xt-reset" data-bs-dismiss="offcanvas" aria-l abel="Close"></button>
    </div>
    <div class="offcanvas-body pt-3 pb-5">
        <div id="dvInfo">
        </div>
    </div>
</div>

<script type="text/javascript">
    var urladd = '@Url.Action("GetSecurityOfficer", "SecurityOfficer")';
    function fnSecurityOfficer(obj) {
        var _key = $(obj).data('key');
        var _id = $(obj).data('id');
        if(_id > 0)
            document.getElementById("canvasHeader").innerHTML = "Update security officer";
        else
            document.getElementById("canvasHeader").innerHTML = "Add security officer";
        var _parameters = { id: _id, key: _key };
        $.ajax({
            url: urladd,
            type: "GET",
            data: _parameters,
            success: function (data, textStatus, jqXHR) {
                $('#dvInfo').html(data);
                $("#canvas_securityOfficer").show();//('hide');
            }
        });
    }
</script>