@*@model Business.Entities.PartyType.PartyType;*@
@using Microsoft.AspNetCore.Identity
@using Business.SQL
@using GridCore
@addTagHelper *, GridMvc
@model ISGrid
@{
    ViewData["Title"] = "Party Type List..";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    //Layout = "~/Areas/Marketing/Views/Shared/_LayoutMaster.cshtml";
    //ViewBag.Title = "Feedback List..";
}

        <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
            <div class="card border-1 shadow rounded-7 p-1">
                <div class="row border-bottom">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="page-breadcrumb align-items-center">
                            <div class="p-2">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb mb-0 p-0">
                                        <li class="breadcrumb-item">
                                            <a asp-controller="PartyType" asp-action="Index" asp-area="SuperAdmin"><i class="bx bx-home-alt"></i></a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">Party Type</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-6 text-end my-2">                        
                        <a class="btn btn-primary px-5" onclick="fnPartyType(this)"
                           href="javascript:void(0)"
                           data-key="0"
                           data-bs-toggle="offcanvas"
                           data-bs-target="#canvas_PartyType"
                           aria-controls="canvas_masterentity">
                            Add New
                        </a>                        
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <grid model="@Model" />
                    </div>
                </div>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="canvas_PartyType">
                    <div class="offcanvas-header">
                         
                        @* @if (Model != null && Model.PartyTypeID > 0)
                        {
                            <h5 class="offcanvas-title">Add Party Type</h5>
                        }
                        else
                        {
                            <h5 class="offcanvas-title">Update Party Type</h5>
                        }*@
                        <h5 class="offcanvas-title">Add Party Type</h5>
                        <button type="button" class="btn-close te  xt-reset" data-bs-dismiss="offcanvas" aria-l abel="Close"></button>
                    </div>
                    <div class="offcanvas-body pt-3 pb-5">
                        <div id="dvInfo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
<script type="text/javascript">
    var urladd = '@Url.Action("Get", "PartyType")';

    function fnPartyType(obj) {
        var _key = $(obj).data('key');
        var _id = $(obj).data('id');
        var _parameters = { id: _id, key: _key };
        $.ajax({
            url: urladd,
            type: "POST",
            data: _parameters,
            success: function(data, textStatus, jqXHR) {
                $('#dvInfo').html(data);
                $("#canvas_PartyType").show();//('hide');
            }
        });
    }
</script>
<script src="~/js/gridmvc.js" type="text/javascript"></script>