@using Business.Entities.Dynamic
@using ERP.Controllers;
@model RequestTypeMetadata
<form class="form-horizontal" role="form" id="frmentity">
    <div class="row mt-3">
        <div class="col-md-12">
            <input type="hidden" asp-for="RequestTypeID" />
            <div class="row mb-3">
                <label for="roleName" class="col-sm-3 col-form-label text-end">Company<span class="required">*</span></label>
                <div class="col-sm-9">
                    <select class="form-select" asp-for="CompanyID" asp-items="@SuperCompanyDropdownBinder.Companies()">
                        <option value="">--Select--</option>
                    </select>
                    <span asp-validation-for="CompanyID" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="roleName" class="col-sm-3 col-form-label text-end">Entity<span class="required">*</span></label>
                <div class="col-sm-9">
                    <select class="form-select" asp-for="EntityID" asp-items="@CompanyDropdownBinder.EntityType(SettingsController.COMPANYID)">
                        <option value="">--Select--</option>
                    </select>
                    <span asp-validation-for="EntityID" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">                
                <label for="roleName" class="col-sm-3 col-form-label text-end">Name<span class="required">*</span></label>
                <div class="col-sm-9">
                    <input type="text" required="" class="form-control" asp-for="Name" maxlength="100">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>           
            
            <div class="row mb-3">
                <label for="" class="col-sm-3 col-form-label text-end">Is Active</label>
                <div class="col-sm-9">
                    <input type="checkbox" class="form-check-input" asp-for="IsActive" data-on-text="Yes" data-off-text="No">

                </div>
            </div>
            
            <div class="modal-footer-sticky">
                <button id="btnSave" type="button" onclick="fnSubmit()" class="btn btn-primary btn-info px-5 ladda-button">Save</button>
                <button type="button" data-bs-dismiss="offcanvas" class="btn btn-primary btn-info px-5">Cancel</button>
            </div>
        </div>
    </div>
</form>
@await Html.PartialAsync("_ValidationScriptsPartial")
<script type="text/javascript">
    var urlsave = '@Url.Action("Save", "RequestType")';
    function fnSubmit() {
        if ($("#frmentity").valid()) {
            var l = laddaStart('btnSave');
            modeldata = $("#frmentity").serialize();
            $.ajax({
                type: 'POST',
                url: urlsave,
                data: modeldata,
                dataType: 'json',
                beforeSend: function () { },
                success: function (data) {
                    window.location.reload().delay(3000);
                    if (data.status) {
                        //notification
                        $("#canvas_masterentity").hide();//('hide');
                        Lobibox.notify('success', {
                            pauseDelayOnHover: true,
                            size: 'mini',
                            icon: 'bx bx-check-circle',
                            continueDelayOnInactiveTab: false,
                            position: 'bottom right',
                            msg: data.message
                        });
                    }
                    else {
                        Lobibox.notify('error', {
                            pauseDelayOnHover: true,
                            size: 'mini',
                            icon: 'bx bx-check-circle',
                            continueDelayOnInactiveTab: false,
                            position: 'bottom right',
                            msg: data.message
                        });
                    }
                },
                error: function (error) {
                    laddaStop(l);
                    Lobibox.notify('error', {
                        pauseDelayOnHover: true,
                        size: 'mini',
                        icon: 'bx bx-check-circle',
                        continueDelayOnInactiveTab: false,
                        position: 'bottom right',
                        msg: "@MessageHelper.Error"
                    });
                }
            }).always(function () {
                hideLoader();
            });
        }
    };
</script>